img {
    max-width: 100%;
    border: 0;
}
.story-cards {
    position: relative;
    /* top: -80px; */
    width: 100%;
}
.hero-section {
    background-color: rgb(155, 240, 225);
    color: rgb(45, 70, 185);
    text-align: center;
    overflow: auto;
}

.hero-article {
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 480px;
}

@media (min-width: 992px){
    .hero-article {
        width: 970px;
    }
}

@media (min-width: 768px){
    .hero-article {
        width: 750px;
    }
}

div.hero-card {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 1200px){
    div.hero-card
    .JhijG {
        flex-direction: row;
    }
}

.hero-story-card-text {
    padding-top: 48px;
    padding-bottom: 24px;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
@media (min-width: 768px){
    .hero-story-card-text {
        padding-bottom: 48px;
    }
}

@media (min-width: 1200px){
    .hero-story-card-text {
        margin-right: 32px;
        text-align: left;
        padding-top: 72px;
        padding-bottom: 72px;
    }
}

.story-card-title {
    font-size: 60px;
    line-height: 1.2;
    margin: 0px;
    padding: 0px;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    display: inline-block;
}

.email-form {
    display: flex;
    flex-direction: column;
}

.email-form-lookup {
    text-align: center;
    display: flex;
    margin: 0 auto;
}

#float-label {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    position: relative;
}

#float-label input {
    width: 100%;
    height: 56px;
    padding: 14px 16px 0 0px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#float-label label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px;
    color: #999;
    pointer-events: none;
    position: absolute;
    transform: translate(0, 26px) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
}

#float-label:focus-within label {
    transform: translate(0, 12px) scale(0.75);
}

#float-label .Active {
    transform: translate(0, 12px) scale(0.75);
}

.hero-btn-red {
    width: fit-content;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 18px;
    margin-right: 5%;
    background-color: #626262;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    height: 72px;
    color: aliceblue;
    white-space: nowrap;
    text-align: center;
}
.hero-btn-red:hover {
    opacity: 0.95;
}
