.album-container {
    border: 0;
    margin: 0;
    vertical-align: baseline;
    -webkit-box-flex: 1;
    background: #181818;
    border-radius: 4px;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    width: 100%;
}
.album-container:hover{
    background: #292929;
}

.album-content{
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    user-select: none;
    height: 100%;
}

.album-visual-container {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    margin-bottom: 16px;
    position: relative;
    display: flex;
}

.album-image-container {
    order: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-color: #333;
    -webkit-box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    border-radius: 12px;
}

.album-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 12px;
}
.album-play-btn-container {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border-radius: 500px;
    bottom: 8px;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    opacity: 0;
    /* pointer-events: none; */
    position: absolute;
    transform: translateY(8px);
    transition: all .3s ease;
    z-index: 2;
    justify-self: flex-end;
    margin-left:10px;
    /* margin-bottom: 5px; */
    /* cursor: pointer; */
}
/* [dir=ltr] .album-play-btn-container {
        right: 8px;

} */

.album-container:hover .album-play-btn-container {
    opacity: 1;
    margin: 10px;
    z-index: 10;
    /* cursor: pointer; */
}
button.album-play-btn {
    --size: 40px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    border: 0;
    border-radius: 500px;
    display: flex;
    font-size: 8px;
    height: var(--size);
    justify-content: center;
    min-width: var(--size);
    transition: transform 33ms cubic-bezier(.3,0,0,1),-webkit-transform 33ms cubic-bezier(.3,0,0,1);
    width: var(--size);
    background-color: #382b7f;
    color: #fff;
}

.album-container a,
.album-container button {
    position: relative;
    z-index: 1;
}

.album-play-btn-container:hover {
    /* z-index: 40; */
    /* width: 45px;
    height: 45px; */
    /* cursor: pointer; */

}

.album-play-btn-container:hover > button {
    width: 45px;
    height: 45px;
    /* margin: 5px; */
    cursor: pointer;
    left: -2.5px;
    top: 2.5px;
    background-color: #4b3aa8;
}

.album-text-container {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    min-height: 62px;
}

.album-text-link{
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
}

.album-text-title {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.album-text-artist {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-top: 4px;
    white-space: normal;
    color: rgb(179, 179, 179);
}
