.nav-container{
    display: flex;
    background-color: black;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    display: flex;
    margin: 1px 20px;
    padding: 0 15px;
}

.bio-links {
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
    width: 25%;
}

ul.nav-list {
    display: inline-flex;
}
nav{
    display: flex;
    justify-content: space-between;
    /* margin: 0px 20px;
    padding: 0 15px; */
}
a.nav:visited {
    text-decoration: none;
}
a.nav {
    color:#fff;
    font-weight: 700;
    padding: 10px 15px;
}
a.nav:hover {
    color: rgb(45, 70, 185);
}

.logo-container {
    margin-top: 10px;
    width: 150px;
    height: 54px;
    margin-bottom: 10px;
}

.authLinks {

    padding: 7px 17px;
}

.btn-red {
    font-weight: 400;
    font-size: 1rem;
    color: rgb(200, 200, 200);
    height: 32px;
    border-radius: 15px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    margin-top: 15px;
    margin-right: 2px;
    margin-left: 5%;
    background-color: #626262;
    line-height: normal;

    width:100%
}

.btn-red:hover {
    opacity: 0.75;
    width: 105%;
    height: 34px;
    margin-top: 14px;
    margin-right: 2px
}
