/* TODO Add site wide styles */
#root {
    width: 100%;
    z-index: -1;
    /* background-color: rgba(0, 0, 0, 0.65); */
    height: fit-content;
    color: aliceblue;
}

div {
    display: block;
}
