.Root__now-playing-bar {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-color: #181818;
    grid-area: now-playing-bar;
    width: 100%;
    z-index: 4;
    height: 50px
}
