.Root__now-playing-bar {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-color: #181818;
    grid-area: now-playing-bar;
    width: 100%;
    z-index: 4;
    height: 90px
}
.play-footer {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: #181818;
    border-top: 1px solid #282828;
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 620px;
    user-select: none;
}

.playing-container {
    border: 0;
    margin: 0;
    vertical-align: baseline;
    height: 90px;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
}

.playing-track-info-container {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    min-width: 180px;
    width: 30%;
}

.playing-track-info {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transform: translateX(0);
    transition: transform .25s cubic-bezier(.3,0,0,1),-webkit-transform .25s cubic-bezier(.3,0,0,1)
}

.playing-track-img-container {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    isolation: isolate;
    position: relative;
}

.playing-track-img-link {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: #fff;
    text-decoration: none;
    border: none;
}

.playing-album-img-container {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    flex-shrink: 0;
    position: relative;
}

.playing-album-cover-art {
    padding: 0;
    vertical-align: baseline;
    background-color: #282828;
    border: 0;
    display: block;
    margin: 0;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    width: 56px;
    height: 56px;
}

.playing-album-img {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    object-fit: cover;
    object-position: center center;
    background-color: #000;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.playing-track-text-container {
    border: 0;
    padding: 0;
    vertical-align: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 14px;
}

.playing-track-title {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    text-align: left;
    text-decoration: none;
}

.playing-track-title > span {
    text-decoration: none;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.playing-track-title-link {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.playing-track-title-link:hover {
    text-decoration: underline;
}

.playing-track-artist {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    color: rgb(179, 179, 179);
}

.playing-track-artist > span {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.playing-track-artist > span > span {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    position: relative;
}

.player-container {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    max-width: 722px;
    width: 40%;
}

.player-controls {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-box-direction: normal;
    display: flex;
}

.player-controls__buttons {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    display: flex;
    -webkit-box-direction: normal;
    gap: 8px;
    -webkit-box-orient: horizontal;
    flex-flow: row nowrap;
    margin-bottom: 12px;
    width: 100%;
}

.player-controls__left{
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.player-controls__left,
.player-controls__right {
    -webkit-box-flex: 1;
    gap: 8px;
    display: flex;
    flex: 1;
}

.player-controls__left button,
.player-controls__right button {
    padding: 0;
    --button-size: 32px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background: transparent;
    border: none;
    color: #b3b3b3;
    display: flex;
    height: var(--button-size);
    justify-content: center;
    min-width: var(--button-size);
    position: relative;
    width: var(--button-size);
}

.player-controls__left button:hover,
.player-controls__right button:hover {
    color: #ebebeb;
}

.player-controls button > svg {
    fill: currentcolor;
}

.player-controls__play,
.player-controls__pause {
    padding: 0;
    --button-size: 32px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: var(--button-size);
    color: #000;
    display: flex;
    height: var(--button-size);
    justify-content: center;
    min-width: var(--button-size);
    position: relative;
    transition: none 33ms cubic-bezier(.3,0,.7,1);
    width: var(--button-size);
}

.player-controls__play:hover,
.player-controls__pause:hover {
    transform: scale(1.06);
    transition: none 33ms cubic-bezier(.3,0,0,1);
    transition-property: all;
}

.player-controls__playback-bar {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.time {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
    min-width: 40px;
    text-align: center;
    color: rgb(179, 179, 179);
}

.progress-bar-wrapper {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    height: 12px;
    position: relative;
    width: 100%;
}
.progress-bar-input {
    width: 100%;
}
