.Root__main-view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
    grid-area: main-view;
    width: 100%;
    background-color: #121212;
    color: #e7e7e7
}

.main-view-container {
    -webkit-box-flex: 1;
    flex: 1;
    min-height: 0;
    position: relative;
    color: #e7e7e7

}

.main-view-container__scroll-node {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -webkit-box-align: start;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    overflow: hidden!important;
    height: 100%;
}

.main-view-container__padding {
    border: 0;
    vertical-align: baseline;
    box-sizing: inherit;
    bottom: 0;
    direction: inherit;
    height: auto!important;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto!important;
    z-index: 0;
    overflow: hidden;
}
.main-view-container__viewport {
    overflow: hidden;
    bottom: 0;
    box-sizing: inherit!important;
    direction: inherit!important;
    left: 0;
    margin: 0;
    outline: none!important;
    padding: 0;
    position: absolute;
    resize: none!important;
    right: 0;
    top: 0;
    transform: translateZ(0);
    overflow-y: scroll;
}

.viewport-content {
    border: 0;
    margin: 0;
    vertical-align: baseline;
    direction: inherit;
    display: block;
    position: relative;
    visibility: visible;
    box-sizing: border-box!important;
}

.main-view-container__scroll-node-child {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    isolation: isolate;
    padding-bottom: 32px;
    scroll-behavior: smooth;
}

.home-page {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    display: block;
}

.hp-container {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background: transparent;
    display: flex;
    flex-direction: column;
    isolation: isolate;
}

.content-spacing {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    max-width: 1955px;
    padding: 0 16px;
    grid-gap: 24px;
    display: grid;
    padding-top: 24px;
}
.recommended-section {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    min-height: 300px;
    min-width: 100%;
    position: relative;
}

.sec-header {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    grid-column: 1/-1;
}

.sec-header-container {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: flex;
    margin-bottom: 16px;
}

.sec-header__title-container {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-width: 0;
}

.sec-header__title {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 28px;
    text-transform: none;
}

.sec-content {
    --minimumColumnWidth: 180px;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    grid-gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(var(--minimumColumnWidth),1fr));
    grid-auto-rows: 0;
    grid-template-rows: 1fr;
    overflow-y: hidden;
    min-width: 384px;
}
